Database-Management-System/Jar/Databases/w/x.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="nameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="DataType" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="tableType">
        <xs:sequence>
            <xs:element name="name" type="nameType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="table" type="tableType"/>
</xs:schema>
